@font-face {
    font-family: 'Festival';
    src: url('/fonts/SuezOne-Regular.ttf');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Lowlands';
      src: url('/fonts/LL22-HvH-Pixel-Regular.ttf');
      font-weight: 200;
      font-style: normal;
  }
  @font-face {
    font-family: 'Paaspop';
    src: url('/fonts/Recoleta-Regular.otf');
    font-weight: 400;
    font-style: normal;
  }