@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Festival";
  src: url("/fonts/festival.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Paaspop";
  src: url("/fonts/paaspop.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Lowlands";
  src: url("/fonts/lowlands.ttf");
  font-style: normal;
}
@font-face {
  font-family: "DTRH";
  src: url("fonts/dtrh.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Pinkpop";
  src: url("/fonts/pinkpop.ttf");
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.50rem;
}

h3 {
  font-size: 1.25rem;
}