@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Festival";
  src: url("/fonts/BeatsterDemo-KLMA.ttf");
  size-adjust: 150%;
  font-style: normal;
}
@font-face {
  font-family: "Paaspop";
  src: url("/fonts/Recoleta-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "Lowlands";
  src: url("/fonts/LL22-HvH-Pixel-Regular.ttf");
  font-style: normal;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.50rem;
}

h3 {
  font-size: 1.25rem;
}